# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
TODO.md
IMPLEMENTATION_SUMMARY.md
morph.py
app-core.py
.browsercache.json
.eman2log.txt
.eman2settings.json
info/project.json
test_requirements.py
graphene_with_spacing.png
*.png
*.key
plot.py
.claude/settings.local.json
create_test_image.py
create_volume_from_image.py
distance_analysis.py
filtertool_default.txt
projections/130k-Pixel0.75A_volume_z100_s10pct_tiltpos0.0deg_sumproj.tiff
projections/130k-Pixel0.75A_volume_z100_s10pct_tiltpos30.0deg_sumproj.tiff
projections/130k-Pixel0.75A_volume_z10_s20pct_tiltpos0.0deg_sumproj.tiff
projections/130k-Pixel0.75A_volume_z10_s2pct_tiltpos0.0deg_sumproj.tiff
projections/130k-Pixel0.75A_volume_z10_s2pct_tiltpos30.0deg_sumproj.tiff
test_elliptic_distort.py
test_fft_corrected2/analysis_summary.txt
test_results/analysis_summary.txt
test_results_0.2/analysis_summary.txt
test_results_0.3/analysis_summary.txt
test_tilt30_sigma06/analysis_summary.txt
tilt_and_project_volume.py
app_old.py
images2star.py
test_image/130K-Pixel0.75A_30tilt.tiff
Untitled.ipynb
app_broken.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
test.py
compare.py
analyze_maxima.py
demo_three_methods.py
final_demo.py
app_old2.py
app_ver1.py
create_fig.ipynb
test_avrg_0.76.mrc
